$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 80px;
$dark: #242536;
$dark-grey: #92929d;
$green: #5dff98;
$dark-green: #20f26f;
$blue: #4fafff;
$dark-blue: #0089e4;
$grey: #e4e4e4;
$black: #4c4d5e;
$light-grey: #f6f6f6;
$html: invert(39%) sepia(33%) saturate(6565%) hue-rotate(351deg) brightness(96%) contrast(86%);
$css: invert(56%) sepia(77%) saturate(4338%) hue-rotate(188deg) brightness(104%) contrast(94%);
$javascript: invert(92%) sepia(41%) saturate(842%) hue-rotate(336deg) brightness(101%) contrast(88%);
$git: invert(39%) sepia(95%) saturate(2652%) hue-rotate(346deg) brightness(98%) contrast(96%);
$github: invert(10%) sepia(33%) saturate(1523%) hue-rotate(165deg) brightness(92%) contrast(93%);
$bootstrap: invert(24%) sepia(70%) saturate(7064%) hue-rotate(268deg) brightness(90%) contrast(115%);
$jquery: invert(30%) sepia(74%) saturate(4560%) hue-rotate(189deg) brightness(82%) contrast(94%);
$typescript: invert(44%) sepia(44%) saturate(763%) hue-rotate(170deg) brightness(90%) contrast(100%);
$json: invert(69%) sepia(4%) saturate(14%) hue-rotate(3deg) brightness(88%) contrast(83%);
$react: invert(84%) sepia(12%) saturate(4535%) hue-rotate(164deg) brightness(102%) contrast(97%);
$npm: invert(31%) sepia(86%) saturate(1211%) hue-rotate(345deg) brightness(99%) contrast(89%);
// $node: ;
$sass: invert(60%) sepia(13%) saturate(3060%) hue-rotate(290deg) brightness(90%) contrast(78%);
$mui: invert(41%) sepia(55%) saturate(4952%) hue-rotate(194deg) brightness(97%) contrast(111%);

