@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Neonderthaw&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  
  background: rgb(107, 169, 255);
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgb(191, 191, 191) 100%)

}

::-webkit-scrollbar {
  width: 6px;
  background: #acb7e1;
}
::-webkit-scrollbar-thumb {
  background: #4577af;
  border-radius: 10px;
}

